include _assets/bemto/bemto
- set_bemto_settings({ modifier: "--" , class_delimiter :  ' | ' })

doctype html
html(lang="ru")
  head
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    meta(name="viewport" content="width=device-width")
    title Страница сравнения  	
    meta(name="HandheldFriendly" content="true")
    meta(name="format-detection", content="telephone=no")
    meta(content="IE=edge" http-equiv="X-UA-Compatible")
    link(rel="shortcut icon", href="img/favicon.ico", type="image/x-icon")
    link(rel="apple-touch-icon", href="img/favicon.ico")
    link(href='https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700&amp;subset=cyrillic' rel='stylesheet')   
    link(href="js/remodal/remodal.css" rel="stylesheet")
    link(href="js/remodal/remodal-default-theme.css" rel="stylesheet")
    link(href="js/owl.carousel/owl.carousel.min.css" rel="stylesheet")
    link(href="js/owl.carousel/owl.theme.default.min.css" rel="stylesheet")  
    link(rel='stylesheet' href='styles/style.css')

mixin compare-table(data)  
  +b.compare-table
    +b.compare-table-button
      +e.prev
      +e.next
    +b.compare-table-aside
      +b.compare-table-aside-filters
        form(action="").select
          label.label
          select.turnintodropdown_demo2
            option Доставка
            option Нижний Новгород
            option Москва
            option Санкт-Петербург
            option Екатеринбург
            option Заволжье
      +b.compare-table-aside-buttons
        +e.difference Различающиеся
        +e.all-parameters.active Все параметры
        +e.A(href="#").compare-clear Удалить все товары
      +b.compare-table-aside-parameters
        each j in data.feature_index              
          +e.parameter-name
            p #{data.item_feature[j]}
    +b.compare-table-body.owl-carousel.compare-products-slider
      each i in data.items_index
        +b.product-item
          +b.product-item-title            
            +e.img
              +e.IMG(src='img/content/' + data.item_img)
            +e.P.title #{data.item_title[i]}
            +e.P.description #{data.item_desc[i]}
            +e.price
              .title Цена:
              .value 6 890 руб.
            +e.buy(href="#") Купить
            +e.close
          +b.product-item-info
            each j in data.feature_index              
              +b.product-item-info-block(data-label=data.item_feature[j])
                +e.P.value #{data.item_feature_value[j][i]}



include template/header.pug 
.compare-container
  +b.compare-header 
    +e.H1.title Таблица сравнения
    +compare-table({
      "items_index": [0, 1, 2, 3, 4, 5],
      "item_title": ["OnePlus 5", "iPhone 6", "Galaxy S7", "Honor 9", "HTC 10", "Sony XPERIA"],
      "item_img": "catalog/block--1.jpg",
      "item_desc": ["Один из самых лучших телефонов", "Якобы самый лучший телефон Якобы самый лучший телефон Якобы самый лучший телефон Якобы самый лучший телефон Якобы самый лучший телефон", "Неплохой телефон", "Красивый телефон", "Говорят неплохой", "Так себе"],
      "feature_index": [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
      "item_feature": ["Производитель", "Год релиза", "Цвет (спереди/cзади/сбоку)", "Поддержка сетей", "Количество SIM-карт", "Диагональ экрана", "Разрешение экрана", "Операционная система",  "Количество мегапикселей основной камеры Количество мегапикселей основной камеры Количество мегапикселей основной камеры Количество мегапикселей основной камеры", "Цена"],
      "item_feature_value": [["OnePlus OnePlus OnePlus OnePlus OnePlus OnePlus OnePlus", "Apple", "Samsung", "Huavei", "HTC","Sony"], ["2017", "2014", "2016", "2017", "2016","2016"], ["Серый", "Серый", "Серый", "Серый", "Серый","Серый"],["OnePlus", "Apple Apple Apple  Apple  Apple  Apple  Apple Apple  Apple  Apple  Apple Apple Apple Apple  Apple  Apple  Apple  Apple Apple  Apple  Apple  Apple", "Samsung", "Huavei", "HTC","Sony"],["2", "2", "2", "2", "2","2"],["OnePlus", "Apple", "Samsung", "Huavei", "HTC","Sony"],["OnePlus", "Apple", "Samsung", "Huavei", "HTC","Sony"], ["OnePlus", "Apple", "Samsung", "Huavei", "HTC","Sony"],["12", "12", "12", "12", "12","12"],["OnePlus", "Apple", "Samsung", "Huavei", "HTC","Sony"]]
    })  
include template/footer.pug

  script(src="js/jquery.min.js")
  script(src="js/remodal/remodal.min.js")
  script(src="js/owl.carousel/owl.carousel.min.js")
  script.
    var owl = $('.compare-products-slider');
    owl.owlCarousel({
      nav: true,
      navText: true,      
      items: 3,
      responsive: {
        0: {
          items: 1,
          dots: true,
        },
        768: {
          dots: false,
          items: 1
        },
        1024: {
          items: 2,
          dots: false
        },
        1440: {
          items: 3,
          dots: false
        }
      }
    });
  script(src="js/main.js")